.hero-img {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 60vh;
    position: relative;
}

.hero-img::before {
    content: "";
    background: url(https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img h1 {
    font-size: 2.4rem;
}

.hero-img p {
    font-size: 1.4rem;
    text-align: center;
}

.portfolio-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.project-card {
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 1.5rem;
  background-color: #111;
  border-radius: 10px;
}

.project-card h2,
.project-card h4,
.project-card p,
.project-card li {
  color: #1F51FF;
}

.project-card ul {
  list-style: none;
  padding: 0;
}

.project-card img {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
    .hero-img h1{
        font-size: 2rem;
    }
}


